@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

:root {
  --pf-t--global--font--family--text: "Inter", sans-serif;
  --pf-t--global--font--family--heading: "Inter", sans-serif;
  --pf-t--global--font--family--monospace: "Inter", sans-serif;
}

.repo-card:hover {
  background-color: #f0f0f0;
}

.issue-list-item:hover {
  background-color: #f0f0f0;
}
